.sections{
   
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
    height:full;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.cards{
    width: 900px;
}
.section-right{
 
   
    top:0;
    height:600px;
   border:1px solid teal;
}
.spent-time{
    background: rgba(96, 71, 236, 0.1);
border: 1px solid #6047EC;
border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px;
    color:rgb(62, 62, 189)
}
.bookmark{
    background: rgba(17, 17, 17, 0.05);
border-radius: 8px;
padding: 10px;
}
.title{
    border:1px solid black;
    background-color: rgb(240, 236, 0);
    color:black;
    padding: 5px;
}
.btn{
    margin-bottom: 20px;
    margin-top: 10px;
}