.header{
    background-color: rgb(241, 241, 236);
    width:1200px;
    margin: 0 auto;
    padding: 10px;
    height:40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-items a{
  color:rgb(17, 16, 16);
  margin:10px;
}
.header-items a:hover{
  color: rgb(0, 255, 42);
}